
body { margin: 0; font-family: 'Segoe UI'; background: #f5f5f5; }

.nav {
  background: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  padding: 40px;
}

.card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover { transform: translateY(-5px); }

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}


.card h3 { padding: 10px; }
.card p { padding: 0 10px 10px; color: gray; }
.auth-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

.auth-form {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form h2 {
  text-align: center;
}

.auth-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-form button {
  padding: 10px;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.auth-form button:hover {
  background: #333;
}
